

.remove-icon{
    height:30px;
    position: absolute;
    top:10px;
    right:10px;
 }
img{
    height:150px;
} 
 .cart-box{
    
     display: flex;
     background-color: rgb(241, 241, 234);
     border:1px solid red;
     margin-bottom:10px;
 }


 .container-details{
    display: flex;
    align-items: center;
    gap:20px;
    
    
}  

.cart-container {
    display: flex;
    gap: 10px;
    padding-top: 20px;
    
    width:100%;
    box-sizing: border-box;
    justify-content: space-between;
    margin-top:30px;
    
}

.cart-items {
    flex: 0 0 70%;
    max-width: 60%; 
    box-sizing: border-box;
    margin-left:10px;
}


.price-section {
    flex: 0 0 30%;
    max-width: 35%; 
    max-height: 100px;
    /* background-color: #f3f3f3; */
    border: 1px solid orange;
    padding: 20px;
    flex-shrink: 0;
    margin-right:10px;
    
    
}
  .price-section p{
    margin-bottom: 10px;
  }

.empty-cart h1{
    
    margin:20px;
    font-size: 20px;
}
.empty-cart p,.empty-cart button{
    margin-left:20px;
    margin-top: -10px;
    margin-bottom: 10px;

}